$primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
$rock-lobster: 'Lobster', cursive;
$regular-font: 'Open Sans', sans-serif;
$darker-blue: #455767;
$charade: #282a37;
$bluebell: #979fd0;
