/* This is an example of how to import a partial scss file*/

//fonts 
// font-family: 'Lobster', cursive;
// font-family: 'Open Sans', sans-serif;
@import '_variables';

// * {
  // border: 2px solid black;
// }

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  width: 100vw;
}

html {
  width: 100%;
  height: 100%;
}

th {
text-align: left;
}

label {
  margin-right: 2%;
}



// head nav ---------------------------
.head-navigation {
  display: flex;
  border: 1px black;
  background-color: #455767;
    margin-top: -2vh;
    margin-left: -1%;
}

.user-info-section {
  width: 20vw;
}
.hello-user-title {
  font-family: $regular-font;
  color: white;
  margin-left: 10%;
}


.nav-buttons {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  display: flex;
}

.check-bookings-button,
.expense-tracking-button,
.current-bookings,
.past-bookings,
.future-bookings {
  width: 20vw;
  height: 10vh;
  height: 10vh;
  margin-top: 2vh;
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-family: $regular-font;
}

.go-back-button {
    background: transparent;
    color: white;
    font-family: $regular-font;
    margin-left: 5%;
}

// main section --------------------

.page-title-box {
  width: 100vw;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-family: $rock-lobster;
}
.start-booking {
  font-family: $regular-font;
}

.select-date-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}
.date-input-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.date-input, 
.date-input-box {
  width: 50%;
}

.available-rooms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-tags {
  display: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -9%;
  margin-bottom: 2%;
}

.filter-buttons {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

// booking section 
.bookings-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking-table {
  width: 70%;
  background-color:$darker-blue;
  margin-bottom: 3%;
}

.tags-title {
  font-family: $regular-font;
}

th, td {
  background-color: white;
}

.hidden {
  display: none;
}
